<% provide(:titulo, @name) %>
<div id="recipe-title" class="text-center"> 
  <h1>Todas las Recetas de: <%= @name %></h1>
</div>

<% if not @recipes.empty? %>
  <div class="recipe-grid"> <!-- Nuevo contenedor de la cuadrícula -->
    <% @recipes.each do |recipe| %>
      <div class="recipe-card"> <!-- Cada tarjeta de receta -->
        <%= image_tag(recipe["strMealThumb"]) %>
        <h2><%= recipe['strMeal'] %></h2>
        <%= link_to "Detalles de la receta", show_details_path(id: recipe['idMeal']) %>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>Ups, algo ha ido mal</h1>
<% end %>

<%= link_to "Volver a las Categorías", categories_meals_path %>
