<% if @recipe %>
    <%@recipe.each do |data|%>
        <h2><%= data["strMeal"] %></h2>
        <img src="<%= data["strMealThumb"] %>" alt="<%= data["strMeal"] %>">
        <h3>Categoria: <%= data["strCategory"] %></h3>
        <h3>Origen: <%= data["strArea"] %></h3>
        <table>
            <tr>
                <th>Ingredientes<th>
            </tr>
            <% for i in 1..20 %>
                <% unless data["strIngredient#{i}"].empty? %>
                    <tr>
                        <td><%= data["strIngredient#{i}"] %></td>
                        <td><%= data["strMeasure#{i}"] %></td>
                    </tr>
                <% else %>
                    <% break %>
                <% end %>
            <% end %>
        </table><br>
        <h3>Instrucciones</h3>
        <%#Para que muestre el texto correctamente. %>
        <%= simple_format(data["strInstructions"]).gsub(/\n+/, "</br>").html_safe %><br>

        <%# funcionalidad con botnes de agregar y borrar. solo si se esta loggeado%>

        <% if signed_in? %>
            <% if @existe %>
                <%= button_to 'Añadir a lista', guardar_item_path, params: {user_list: {user_id: current_user.id, idMeal: data["idMeal"], recipe_name: data["strMeal"]}}, disabled: true %>
                <%= button_to 'Eliminar de la lista', eliminar_item_path, params: {idMeal: data["idMeal"]}, disabled: false, data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
            <% else %>
                <%= button_to 'Añadir a lista', guardar_item_path, params: {user_list: {user_id: current_user.id, idMeal: data["idMeal"], recipe_name: data["strMeal"]}}, disabled: false %>
                <%= button_to 'Eliminar de la lista', eliminar_item_path, params: {idMeal: data["idMeal"]}, disabled: true, data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
            <% end %>
            <%= button_to 'Descargar receta', pdfizador_path(format: :pdf), params: {id: data["idMeal"]}, method: :get, download: true %>
        <% end %>
    <% end %>
<% end %>
